body {
    background-color: #ca85d8;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #e5b4f1;
    color: rgb(0, 0, 0);
    font-family: "Freckle Face", system-ui;

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 32%;
}

img {
    max-width: 32%;
}